<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link type="text/css" rel="stylesheet" href="../css/login.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="login-wrapper">
                <div class="header">Register</div>
                <div class="form-wrapper">
                    <input type="text" v-model="username" placeholder="Username" class="input-item">

                    <input type="password" v-model="password" placeholder="Password" class="input-item">

                    <input type="password" v-model="confirmPassword" placeholder="Confirm Password" class="input-item">

                    <div class="radio-group">
                        <label>
                            <input type="radio" v-model="userType" value="用户"> Regular User
                        </label>
                        <label>
                            <input type="radio" v-model="userType" value="员工"> Administrator
                        </label>
                    </div>

                    <div v-if="message" class="msg">{{ message }}</div>

                    <div class="btn">
                        <button class="btn1" @click="register">Register</button>
                        <button class="btn2" @click="goToLogin">Back to Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/register.js"></script>
</body>
</html>